@font-face {
  font-family: "cursive-redx";
  src: url("../public/DancingScript-VariableFont_wght.ttf")
}

a.gitlab::before {
  content: url("../public/beaker.svg");
}

body {
  background: url(../public/topo.svg), #fed;
}

main {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.home-welcome {
  font-family: cursive-redx;
  color: maroon;
  font-size: 75px;
  text-shadow: 3px 3px black;
}

header h3 {
  color:black;
  font-size: 20px;
}

form p {
  margin: 0.5em;
}

.HeaderTitle, .buttonContainer {
  width: 220px
}
