
.cardHolder {
  display: grid;
}

.card {
  border-radius: 20px;
  border: solid 8px maroon;
  border-style: double;
  width: 500px;
  min-width: 1000px;
  top: 35%;
  left: 160px;
  position: absolute;
  margin-left: 250px;
  background-color: lightgray;
  color: black;
  font-size: 20px;
}

.card a{
  color:maroon;
  transform: scale(1.1);
}

.card a:hover {
  color: white;
  text-decoration: underline;
  transition: all 300ms;
}